.navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    padding-left:50px;
    box-shadow: var(--lightShadow);
}
.navSearch{
    width: 450px;
}
.navItemGroup{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
    /* padding: 20px; */
}